<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a target="_blank">
        <img src="../assets/images/kku_logo.png" alt="logo" />
        <span class="menu-label">KKU SMART FARM</span>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li class="menu-item nzSelected" nz-menu-item nzSelected>
        <i nz-icon nzType="home"></i>
        <span class="menu-label">หน้าหลัก</span>
      </li>
      <li class="menu-item" nz-menu-item>
        <i nz-icon nzType="logout"></i>
        <span class="menu-label">ออกจากระบบ</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
