<div mat-dialog-title class="text-center fs-3">จัดการการตั้งค่าอุปกรณ์</div>
<div mat-dialog-content>
  <div class="fs-5 pb-3 pt-3">การตั้งค่าเวลา</div>
  <table mat-table class="mat-elevation-z2" [dataSource]="dataSourceTime">
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef>วัน</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.day == '1'">อาทิตย์</span>
        <span *ngIf="element.day == '2'">จันทร์</span>
        <span *ngIf="element.day == '3'">อังคาร</span>
        <span *ngIf="element.day == '4'">พุธ</span>
        <span *ngIf="element.day == '5'">พฤหัสบดี</span>
        <span *ngIf="element.day == '6'">ศุกร์</span>
        <span *ngIf="element.day == '7'">เสาร์</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef>เวลาเริ่ม</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.startTime_minute == 0"
          >{{ element.startTime_hour }}: {{ element.startTime_minute }}0</span
        >
        <span *ngIf="element.startTime_minute != 0"
          >{{ element.startTime_hour }}: {{ element.startTime_minute }}</span
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>เวลาทำงาน (นาที)</th>
      <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
    </ng-container>

    <ng-container matColumnDef="relayNumber">
      <th mat-header-cell *matHeaderCellDef>รีเลย์</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.relay_1 == '1'">1 </span>
        <span *ngIf="element.relay_2 == '1'">2 </span>
        <span *ngIf="element.relay_3 == '1'">3 </span>
        <span *ngIf="element.relay_4 == '1'">4</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="tool">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="warn"
          (click)="onDelete('time', element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsTime"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsTime"></tr>
  </table>

  <br />

  <div class="fs-5 pb-3 pt-3">การตั้งค่าอุณหภูมิ</div>
  <table mat-table class="mat-elevation-z2" [dataSource]="dataSourceTemp">
    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef>อุณหภูมิ</th>
      <td mat-cell *matCellDef="let element">
        {{ element.temperature }}
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>เวลาทำงาน (นาที)</th>
      <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
    </ng-container>

    <ng-container matColumnDef="relayNumber">
      <th mat-header-cell *matHeaderCellDef>รีเลย์</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.relay_1 == '1'">1 </span>
        <span *ngIf="element.relay_2 == '1'">2 </span>
        <span *ngIf="element.relay_3 == '1'">3 </span>
        <span *ngIf="element.relay_4 == '1'">4</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="tool">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="warn"
          (click)="onDelete('temp', element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsTemp"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsTemp"></tr>
  </table>
</div>
<br />
<div mat-dialog-actions class="d-flex justify-content-end align-items-center">
  <button mat-flat-button color="primary" (click)="onNoClick()" cdkFocusInitial>
    ปิด
  </button>
</div>
