table {
  width: 100%;
}

.mat-column-temperature,
.mat-column-duration,
.mat-column-relayNumber,
.mat-column-tool,
.mat-column-day,
.mat-column-timestamp {
  text-align: center;
  font-size: 20px;
}

.mat-row:nth-child(odd) {
  background-color: #e8e9ed;
}
