.value-number {
  // font-size: 50px;
  font-size: calc(1.2rem + 2vw);
}

.value-label {
  font-size: 20px;
}

.light-on-icon {
  font-size: 80px;
  color: #58dd72;
}

.light-off-icon {
  font-size: 80px;
  color: grey;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.card-switch {
  cursor: pointer;
}
