/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Sarabun", sans-serif;
}

html,
body {
  height: 100%;
}

.mat-typography {
  font-family: "Sarabun", sans-serif !important;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import "~@angular/material/theming";
$custom-typography: mat-typography-config(
  $font-family: "Sarabun",
);
@include mat-core($custom-typography);
